.Article
  .Article__image
    = link_to tweet_path(tweet.id) do
      - if tweet.image.present?
        = image_tag tweet.image.url
      - else
        = image_tag "article1"
  - if tweet.tags.first.name == "走行記録"
    .Article__tag.color1
      = tweet.tags.first.name
  - elsif tweet.tags.first.name == "運動グッズ"
    .Article__tag.color2
      = tweet.tags.first.name
  - elsif tweet.tags.first.name == "大会記録"
    .Article__tag.color3
      = tweet.tags.first.name
  - else
    .Article__tag.color4
      = tweet.tags.first.name
  .Article__info
    .Article__info__title
      = link_to tweet.title, tweet_path(tweet.id)
    .Article__info__user
      .Article__info__user__icon
        = link_to user_path(tweet.user.id) do
          - if tweet.user.image.present?
            = image_tag tweet.user.image.url
          - else
            = image_tag "user1"
      .Article__info__user__name
        = link_to tweet.user.name, user_path(tweet.user.id)
    .Article__info__time
      = tweet.created_at.strftime("投稿日時:%m月%d日 %H時%M分")