= render partial: "header"
.Home
  .home
    .Content
      - @tweets.each do |tweet|
        .article
          .article__image
            - if tweet.image.present?
              = image_tag tweet.image.url
            - else
              = image_tag "article1"
          .article__title
            = link_to tweet.title, tweet_path(tweet.id)
          .article__info
            .article__info__icon
              = link_to user_path(tweet.user.id) do
                = image_tag tweet.user.image.url
            .article__info__name
              = link_to tweet.user.name, user_path(tweet.user.id)
            .article__info__star
              = link_to "#" do
                = icon 'fas', "star"
            .article__info__like
              .Link_btn
                = render partial: "likes/like", locals: {tweet: tweet}