.Home
  .home
    .Content
      .Post
        .Post__image
          - if @tweet.image.present?
            = image_tag @tweet.image.url
          - else
            = image_tag "article1"
        .Post__title
          = link_to @tweet.title
        .Post__text
          = link_to @tweet.text
        .Post__info
          .article__info__icon
            - if @tweet.user.image.present?
              = image_tag @tweet.user.image.url
            - else
              = image_tag "user1"
          .article__info__name
            = link_to @tweet.user.name, user_path(@tweet.user.id)
          .article__info__star
            = link_to "#" do
              = icon 'fas', "star"
          .article__info__like
            = link_to "#" do
              = icon 'fas', "heart"
        .Post__bottom
          - if user_signed_in? && current_user.id == @tweet.user_id
            .Post__bottom__edit
              = link_to '編集', edit_tweet_path(@tweet.id)
            .Post__bottom__delete
              = link_to '削除', tweet_path(@tweet.id), method: :delete
        .Post__comment
          - if current_user
            = form_with(model: [@tweet, @comment], local: true) do |f|
              = f.text_field :text, placeholder: "コメントする", class: "text_area"
              = f.submit "送信", class: "Post__comment__submit"
          - else
            %h1 コメントの投稿には新規登録/ログインが必要です
            %h3 <コメント一覧>
          .Post__comment__list
            - if @comments
              - @comments.each do |comment|
                - if comment.user_id == @tweet.user_id
                  .Post__comment__list__host
                    = link_to user_path(comment.user.id) do
                      - if comment.user.image.present?
                        = image_tag comment.user.image.url
                      - else
                        = image_tag "user1"
                    = comment.text
                - else
                  .Post__comment__list__post
                    = comment.created_at
                    = comment.text
                    = link_to user_path(comment.user.id) do
                      - if comment.user.image.present?
                        = image_tag comment.user.image.url
                      - else
                        = image_tag "user1"