.Home
  .Home__top.img1
  .Home__top.img2
  .Home__top.img3
  .Home__top.img4
  .Home__top__body
    .Input
      = form_for(@user) do |f|
        - if @user.errors.any?
          %h2= "#{@user.errors.full_messages.count}件のエラーが発生しました"
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message
        .Input__area
          .Input__area__left
            .Input__area__left__normal
              = f.label :name, "名前(6文字以内)"
            .Input__area__left__title
              = f.text_field :name, maxlength: "6"
            .Input__area__left__normal
              = f.label :email, "E-mail"
            .Input__area__left__title
              = f.email_field :email, class: "text_area"
            .Input__area__left__normal
              = f.label :image, "画像"
            .Input__area__left__image
              = f.file_field :image
          .Input__area__right
            .Input__area__right__normal
              = f.label :introduction, "自己紹介(200字以内)"
            .Input__area__right__text
              = f.text_area :introduction, rows: "6", maxlength: "200", size: "30x10"
        .Input__button
          = f.submit "更新", class: 'submit'