= render partial: "tweets/header"
.Home
  .home
    .contents
      .container
        %h3 アカウントの編集
        = form_for(@user) do |f|
          .FormField
            .FormField__label--normal
              = f.label :name, "名前(8文字以内)"
            .FormField__input--form
              = f.text_field :name, autofocus: true, class: "text_area"
            .FormField__label--normal
              = f.label :email, "E-mail"
            .FormField__input--form
              = f.email_field :email, class: "text_area"
            .FormField__label--normal
              = f.label :image, "画像"
            .FormField__label--form
              = f.file_field :image, class: "none" do
                = icon('far', 'image')
            .FormField__label--normal
              = f.label :introduction, "自己紹介(200字以内)"
            .FormField__label--form
              = f.text_field :introduction, class: "text_area"
            = f.submit "更新", class: 'submit'