.Home
  .Home__top
    .Index
      = link_to "フォローユーザー", follows_user_path(@user.id)
      = link_to "フォロワーユーザー", followers_user_path(@user.id)
      - @users.each do |user|
        .Index__user
          .Index__user__image
            = link_to user_path(user.id) do
              - if user.image.present?
                = image_tag user.image.url
              - else
                = image_tag "user1"
          .Index__user__name
            = link_to user.name, user_path(user.id)