= render partial: "tweets/header"
.Home
  .home
    .Index
      - @users.each do |user|
        .Index__user
          .Index__user__image
            = link_to user_path(user.id) do
              - if user.image.present?
                = image_tag user.image.url
              - else
                = iamge_tag "user1"
          .Index__user__name
            = link_to user.name, user_path(user.id)