.Home__global.img2
  .Home__global__section
    .Rank__content
      - @all_rank.each.with_index(1) do |user, i|
        .Rank__content__user
          .Rank__content__user__left
            - if i == 1
              .Rank__content__user__left__top.crown1
                = icon 'fa', 'crown'
              .Rank__content__user__left__buttom.rank1
                = "第#{i}位"
            - elsif i == 2
              .Rank__content__user__left__top.crown2
                = icon 'fa', 'crown'
              .Rank__content__user__left__buttom.rank2
                = "第#{i}位"
            - elsif i == 3
              .Rank__content__user__left__top.crown3
                = icon 'fa', 'crown'
              .Rank__content__user__left__buttom.rank3
                = "第#{i}位"
            - else
              .Rank__content__user__left__buttom.rank4
                = "第#{i}位"
          = render 'users/user', user: user